<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--ㅎ 왜 안되나 하고 보니까 static staitc으로 오타 나서 안되는 거였음. 정신 차리자. 오타 조심.-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <!--플라스크 쓸 때는 아래처럼 css파일 가져와야 함. ... 왜 플라스크 쓰겠다고... 그랬을까...-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:description" content="velog 클론 코딩" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <title>velog</title>
  </head>
  <body>
    <div id="root"></div>
    <nav>
      <ul>
        <li style="width: calc(80% - 240px); float: left; font-size: 20px">
          <a href="#"
            ><div style="font-size: 30px; font-weight: bold">velog</div></a
          >
        </li>
        <li style="width: 40px">
          <a href="#" onclick="changeTheme()"><i class="fas fa-sun"></i></a>
        </li>

        <li style="width: 40px">
          <a href="#"><i class="fas fa-search"></i></a>
        </li>

        <li style="width: 100px">
          <a href="#"><btn class="new-posting">새 글 작성</btn></a>
        </li>
        <li style="width: 60px"><a href="#">프로필</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li
          class="select-order selected"
          onclick="fetchData('/run-script', this)"
        >
          <a href="#">트렌딩</a>
        </li>
        <li class="select-order" onclick="fetchData('/run-recent', this)">
          <a href="/#">최신</a>
        </li>
      </ul>
    </nav>
    <div class="posting-container"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!--스크립트 위치도 중요함. 왜냐면 먼저 html 생성되고 그 안에 스크립트 요소들 넣어줘야 되는데 스크립트 먼저 실행시키면 queryselector가 못 찾아서 null 값으로 인식할 수도 있음-->
  </body>
</html>
